@charset "UTF-8";

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body {
	background-color: #f1f2ed;
}

div {
	padding: 2rem;
}

#nameInput {
	margin-right: 0.8rem;
	width: 30%;
	max-width: 400px;
	height: 1.5rem;
}

#submitBtn {
	background-color: #143109;
	color: white;
	font-size: 1.2rem;
	padding: 0.2rem;
	border-radius: 0.3rem;
	cursor: pointer;
}

#submitBtn:hover {
	background-color: #000000;
}

p {
	font-size: 1.2rem;
}